<?xml version="1.0" encoding="utf-8"?>
<configuration>


	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Бисерок.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Бисерок.Properties.Settings>
   <setting name="KanvasOrBeadsSize" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="ThiknessLineBetweenGroupOf10Block" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="ColorOfLinesOnScheme" serializeAs="String">
    <value>Black</value>
   </setting>
   <setting name="IsShowNumberOfListOnCommonScheme" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsWithDithering" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsColorScheme_OrForGrayPrint" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsEmbroideryViewInRealView" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="HorizontalSizeOfBlockAtSchemeInMm" serializeAs="String">
    <value>2.5</value>
   </setting>
   <setting name="VerticalSizeOfBlockAtSchemeInMm" serializeAs="String">
    <value>2.5</value>
   </setting>
   <setting name="CountOfBeadsIn1000Gramm" serializeAs="String">
    <value>91000</value>
   </setting>
   <setting name="NumberOfAdditionThread" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="LengthOfYarnPer1000sm2" serializeAs="String">
    <value>63.5827</value>
   </setting>
   <setting name="KnittingDensityName" serializeAs="String">
    <value>12 петель на 10см, 16 рядов на 10см (70-90м  в 100гр. пряжи)</value>
   </setting>
   <setting name="SqureCellSidePrintPages_Y" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="SqureCellSidePreview_Y" serializeAs="String">
    <value>12</value>
   </setting>
   <setting name="PrintingResolution" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="WidthOfBorderOfBeadsInPercentToBeadsRadius" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="WidthOfPointBetweenBeadsInPercentToBeadsRadius"
    serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="IsSeparatingLinesOnScheme" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsDrawingBadgesOnSchemeForPrinting" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsDrawSmallLegend" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsMixingColors" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TransparentColorsOnCanvas" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="Mediana" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="NumberOfMedianaRepeats" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="BrightnessOfContour" serializeAs="String">
    <value>25</value>
   </setting>
   <setting name="SmallPartsOnColouring" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LightestColorIsCanvas" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DarkestColorIsCanvas" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="wayOfBadgesCreating" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="IsSquareStraz" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="countOfPixelsInCmAtContoursMapOfColoring" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="thicknessOfAdditionalBorderOfColoringContour"
    serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BrightnessOfLabel" serializeAs="String">
    <value>25</value>
   </setting>
   <setting name="widthPageInBeads" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="heightPageInBeads" serializeAs="String">
    <value>90</value>
   </setting>
   <setting name="minFontSizeInPt" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="isNotChangeSourceImageInColoring" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="isShowPreprocessingWindow" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="selectedLastPathToSave" serializeAs="String">
    <value />
   </setting>
   <setting name="isConstantNumerationOfColorsInRaskraska" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="vector_strokeWidth" serializeAs="String">
    <value>0.2</value>
   </setting>
   <setting name="vector_font" serializeAs="String">
    <value>Microsoft Sans Serif, 6.98507452pt</value>
   </setting>
   <setting name="vector_savePng" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="language" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="almazka_transparencyOfColors" serializeAs="String">
    <value>255</value>
   </setting>
   <setting name="wayOfMiniLegendPositioning" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="usePrivateIcons" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="isLabelContourLikeColors" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="savingFilesFormat" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="partOfSkeletonPointsFromTotalCountOfPoints" serializeAs="String">
    <value>0.1</value>
   </setting>
   <setting name="minimumDistanceFromOneLabelToAnotherOne" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="backgroundModeForSchemeForPrinting" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="paintConsumption" serializeAs="String">
    <value>250</value>
   </setting>
   <setting name="stretcherFrame" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="fontForBadges" serializeAs="String">
    <value>Verdana, 36px</value>
   </setting>
   <setting name="drawGIF" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="needToSetBetterQualityDetalization" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="sortBrushColorByItsSquareAtPBN" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="weightOfStrazIn1Pack" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="UpgradeRequired" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="usingBlendsInKrestik" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="drawRemoteLabelsInRaskraska" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TopPercentOfSmallestContoursToDrawRemoteLabelsInRaskraska"
    serializeAs="String">
    <value>35</value>
   </setting>
   <setting name="usePressureLevelFromStylus" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="percentageOfFillingContoursWithRemoteLabel" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="additionalLabels" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="additionalLabels_minimumDistanceFromOne_SMALL_LabelToAnotherOne"
    serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="additionalLabels_skeletonizationPercents" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="additionalLabels_percentsOfSkeletonizationsToFindAdditionalLabels"
    serializeAs="String">
    <value>0.15;0.53;0.9</value>
   </setting>
   <setting name="maxFontSizeInPt" serializeAs="String">
    <value>8</value>
   </setting>
  </Бисерок.Properties.Settings>
	</userSettings>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IServices" sendTimeout="00:15:00"
     maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
     transferMode="Streamed">
     <security mode="Transport" />
    </binding>
    <binding name="BasicHttpBinding_IServices1" sendTimeout="00:15:00"
     maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
     <security mode="Transport" />
    </binding>
    <binding name="BasicHttpBinding_IServices2">
     <security mode="Transport" />
    </binding>
    <binding name="BasicHttpBinding_IServiceForSavingPaintings" sendTimeout="00:15:00"
     maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
    <binding name="BasicHttpBinding_IServiceForServerOfSavingPaintings">
     <security mode="Transport" />
    </binding>
    <binding name="BasicHttpBinding_IServiceForSavingPaintings1" />
   </basicHttpBinding>
   <wsHttpBinding>
    <binding name="TransportSecurity" sendTimeout="00:15:00" maxBufferPoolSize="2147483647"
     maxReceivedMessageSize="2147483647">
     <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
     <security mode="Transport">
      <transport clientCredentialType="None" />
     </security>
    </binding>
    <binding name="httpsBasicBinding_IServices" sendTimeout="00:15:00"
     maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
     <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="Certificate" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="httpsBasicBinding_IServices1" sendTimeout="00:15:00"
     maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
     <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="Certificate" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="httpsBasicBinding_IServiceForSavingPaintings"
     sendTimeout="00:15:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
     <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="Certificate" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="httpsBasicBinding_IServiceForServerOfSavingPaintings">
     <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="Certificate" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="WSHttpBinding_IServices">
     <security mode="Transport">
      <transport clientCredentialType="None" />
     </security>
    </binding>
    <binding name="WSHttpBinding_IServiceForSavingPaintings">
     <security mode="Transport">
      <transport clientCredentialType="None" />
     </security>
    </binding>
    <binding name="WSHttpBinding_IServiceForServerOfSavingPaintings">
     <security mode="Transport">
      <transport clientCredentialType="None" />
     </security>
    </binding>
    <binding name="WSHttpBinding_IServices1">
     <security mode="Transport">
      <transport clientCredentialType="None" />
     </security>
    </binding>
   </wsHttpBinding>
  </bindings>
		<client>
   <endpoint binding="wsHttpBinding" bindingConfiguration="httpsBasicBinding_IServices1"
    contract="ServiceReference.IServices" name="httpsBasicBinding_IServices" />
   <endpoint address="https://programma-raskraska.ru/Service/ServiceForServerOfSavingPaintings.svc"
    binding="wsHttpBinding" bindingConfiguration="httpsBasicBinding_IServiceForServerOfSavingPaintings"
    contract="ServiceForServerOfSavingPaintings.IServiceForServerOfSavingPaintings"
    name="httpsBasicBinding_IServiceForServerOfSavingPaintings" />
   <endpoint address="https://programma-raskraska.ru/service/ServiceForSavingPaintings.svc"
    binding="wsHttpBinding" bindingConfiguration="httpsBasicBinding_IServiceForSavingPaintings"
    contract="ServiceSavingPaintings.IServiceForSavingPaintings"
    name="httpsBasicBinding_IServiceForSavingPaintings" />
   <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServices1"
    contract="ServiceReference.IServices" name="BasicHttpBinding_IServices" />
   <endpoint address="https://programma-raskraska.ru/Service/Services.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServices"
    contract="ServiceReference.IServices" name="WSHttpBinding_IServices" />
   <endpoint address="http://programma-raskraska.ru/Service/ServiceForSavingPaintings.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceForSavingPaintings"
    contract="ServiceSavingPaintings.IServiceForSavingPaintings"
    name="BasicHttpBinding_IServiceForSavingPaintings" />
   <endpoint address="https://programma-raskraska.ru/Service/ServiceForSavingPaintings.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceForSavingPaintings"
    contract="ServiceSavingPaintings.IServiceForSavingPaintings"
    name="WSHttpBinding_IServiceForSavingPaintings" />
   <endpoint address="http://programma-raskraska.ru/Service/ServiceForServerOfSavingPaintings.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceForServerOfSavingPaintings"
    contract="ServiceForServerOfSavingPaintings.IServiceForServerOfSavingPaintings"
    name="BasicHttpBinding_IServiceForServerOfSavingPaintings" />
   <endpoint address="https://programma-raskraska.ru/Service/ServiceForServerOfSavingPaintings.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceForServerOfSavingPaintings"
    contract="ServiceForServerOfSavingPaintings.IServiceForServerOfSavingPaintings"
    name="WSHttpBinding_IServiceForServerOfSavingPaintings" />
   <endpoint address="http://programma-raskraska.ru/service/Services.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServices2"
    contract="ServiceReference.IServices" name="BasicHttpBinding_IServices1" />
   <endpoint address="https://programma-raskraska.ru/service/Services.svc"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServices1"
    contract="ServiceReference.IServices" name="WSHttpBinding_IServices1" />
   <endpoint address="http://programma-raskraska.ru/service/ServiceForSavingPaintings.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceForSavingPaintings1"
    contract="ServiceSavingPaintings.IServiceForSavingPaintings"
    name="BasicHttpBinding_IServiceForSavingPaintings1" />
  </client>
	</system.serviceModel>
	<system.net>
		<defaultProxy useDefaultCredentials="true"/>
		<settings>
			<servicePointManager expect100Continue="false"/>
		</settings>
	</system.net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
